@use './mixins' as *;

/* ------- reset ------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- 共通 ------- */
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-primary);
  background: var(--color-background);

  @include mq {
    padding-top: 0;
  }
}

html {
  font-size: 14px;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  color: var(--color-text);
}

ul,
ol {
  list-style: none;
}

//縦書きレイアウト
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 16px; /* フォントサイズは適宜調整 */
  white-space: nowrap; /* テキストの折り返しを防ぐ */
  position: absolute; /* 必要に応じて位置を調整 */
}

.section-container {
  height: 100vh;
}

.section-title {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--color-text);
  opacity: 0.6;
}

/* ------- all viewの設定 ------- */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(200%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.allview {
  &__left,
  &__right {
    margin: 0.8rem;
    font-family: 'Oxanium', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    color: #c4d8dc;
    position: relative; // 矢印を配置する基点となる
    display: inline-block; // 適切なサイズのブロックを形成する
    visibility: hidden; // 初期状態を非表示に設定}

    a {
      text-decoration: none;
      color: #c4d8dc;
    }
  }
  &__left {
    &::after {
      content: '';
      height: 2px; // 下線の太さ
      width: 70px;
      position: absolute;
      bottom: 53px; //位置を調整
      right: -43px;
      background: #c4d8dc;
      transform: rotate(70deg);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 21px; // 下線の位置を調整
      left: 0;
      width: calc(100% + 20px); // バックスラッシュ分を含めた全幅
      height: 2px; // 下線の太さ
      background: #c4d8dc; // 下線の色
    }
  }

  &__right {
    &::after {
      content: '';
      height: 2px; // 線の太さ
      width: 70px;
      position: absolute;
      bottom: 53px; //位置を調整
      left: -43px;
      background: #c4d8dc;
      transform: rotate(-70deg);
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 21px; // 下線の位置を調整
      left: -21px;
      width: calc(100% + 95px); // バックスラッシュ分を含めた全幅
      height: 2px; // 下線の太さ
      background: #c4d8dc; // 下線の色
    }
  }
}

// アニメーションの適用
.slide-in {
  &__left {
    animation: slideInFromLeft 1.2s var(--allview);
    visibility: visible; // アニメーション開始時に要素を表示
  }
  &__right {
    animation: slideInFromRight 1.2s var(--allview);
    visibility: visible; // アニメーション開始時に要素を表示
  }
}

/* ------- ヘッダー ------- */
.site-header {
  width: 100%; //ヘッダー画面いっぱい
  max-width: 900px;
  height: 120px;
  margin: 0 auto; //左右のマージンを自動で中央揃え
  display: flex;
  align-items: center; //横軸の中央
  justify-content: space-between; //ヘッダー要素を両端に配置
  position: fixed; // ヘッダーを画面の上部に固定
  top: 0; // トップから0の位置に
  left: 50%; // 左から50%の位置に
  transform: translateX(-50%); // 中央揃えのために左に50%ずらす
  z-index: 100;

  &__logo {
    width: 60px; //サイズは固定

    // ロゴのスタイルを調整
    img {
      width: 45px;
    }
  }

  .site-nav-container {
    display: flex; //横並びにする
    flex: end; //右側に寄せる
    justify-content: space-between; // ナビゲーションとSNSアイコンの間にスペースを作る

    &__nav,
    &__sns {
      display: flex;
      align-items: center;
      // ナビゲーションのスタイル
      ul {
        display: flex;
        list-style: none; // リストのスタイルをリセット
        padding: 0; // パディングをリセット
        margin: 0; // マージンをリセット

        li {
          margin-right: 16px; // リストアイテム間の余白

          &:last-child {
            margin-right: 0; // 最後のアイテムの右マージンをリセット
          }

          a {
            text-decoration: none; //下線を消す
            text-transform: uppercase; //大文字にする
            font-size: 1.1rem;
            color: var(--color-text);
            font-weight: 300;
            letter-spacing: 2px;

            position: relative; //afterのabsoluteの為にrelativeをかける
            display: inline-block;
            padding-bottom: 3px;

            &::after {
              content: '';
              height: 0.1px;
              width: 100%;
              position: absolute;
              background-color: var(--color-navline);
              left: 0;
              bottom: 0;
              transform: scaleX(0);
              transition: transform 0.3s var(--easeing); //animetionを追加
              transform-origin: right center; //
            }

            //hoverした時の::after
            &:hover::after {
              transform: scaleX(1);
              transform-origin: left center; //
            }
          }
        }
      }
    }

    a {
      margin-left: 80px; // アイコン間の余白

      img {
        width: 24px;
      }
    }
  }
}

// レスポンシブデザインのためのメディアクエリ
/*@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    align-items: flex-start;

    .site-nav-container {
      width: 100%; // モバイルデバイスでナビゲーションを幅いっぱいに展開
      flex-direction: column;
      align-items: flex-start;

      &__nav {
        ul {
          flex-direction: column;
          li {
            margin-right: 0; // モバイルデバイスでの余白をリセット
          }
        }
      }

      &__sns {
        margin-top: 10px; // SNSアイコンとナビゲーションの間の余白
      }
    }
  }
}*/
