:root {
  --font-primary: 'Open Sans', 'Noto Sans JP', 'EB Garamond', sans-serif;
  --font-title: 'EB Garamond', serif;
  //--color-background: #fafbfb;
  --color-text: #85797f;
  --color-navline: #aca1a6;
  --color-arrow: rgba(255, 254, 255, 0.6);
  --color-line: #929292;
  --color-accent: #cd6799;
  --color-button: #62a1ae;
  --color-box: #d9d9d9;
  --color-contact: #fffeff;
  --easeing: cubic-bezier(0.69, 0.02, 0.18, 1);
  --allview: cubic-bezier(0.24, 0.62, 0.93, 0.6);
  --container-width: 1080px;

  --gradient-purple: #b1b0f1;
  --gradient-pink: #e9d1db;
  --gradient-green: #dde8e9;
  --gradient-coral: #f8d3ce;
  --gradient-yellow: #faebe5;
  --gradient-blue: #c3d7f2;
}
