:root {
  --font-primary: 'Open Sans', 'Noto Sans JP', 'EB Garamond', sans-serif;
  --font-title: 'EB Garamond', serif;
  --color-background: #fafbfb;
  --color-text: #333;
  --color-navline: #747474;
  --color-line: #d8f1f5;
  --color-accent: #cd6799;
  --color-button: #62a1ae;
  --color-box: #d9d9d9;
  --color-contact: #fffeff;
  --easeing: cubic-bezier(0.69, 0.02, 0.18, 1);
  --allview: cubic-bezier(0.24, 0.62, 0.93, 0.6);
}
